body{
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 22%, rgba(184,76,233,1) 54%);
}

h1{
    border: 3px solid rgba(34, 18, 172, 0);
}

ul{
    border: 2px solid;
}

h2{
    border: 2px solid black;
}

h1{
    border: 2px solid black;
}

h3{
    border: 2px solid black;
}

ol{
    border: 2px solid;
}