body{
    background: rgb(237,241,194);
background: linear-gradient(90deg, rgba(237,241,194,1) 50%, rgba(65,158,227,1) 68%);
}

h1{
    border: 3px solid rgba(34, 18, 172, 0);
}

ul{
    border: 2px solid;
}

h2{
    border: 2px solid black;
}

h1{
    border: 2px solid black;
}

h3{
    border: 2px solid black;
}

ol{
    border: 2px solid;
}
