body{
    background: rgb(79,134,175);
background: linear-gradient(90deg, rgba(79,134,175,1) 31%, rgba(236,92,92,1) 50%);
}

h1{
    border: 3px solid rgba(34, 18, 172, 0);
}

ul{
    border: 2px solid;
}

h2{
    border: 2px solid black;
}

h1{
    border: 2px solid black;
}

h3{
    border: 2px solid black;
}

ol{
    border: 2px solid;
}

p{
    border: 1px solid;
}